body {
  margin: 0;
  color: '#3d4d59';
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: '10px';
}

*::-webkit-scrollbar-track {
  background: #f9f9f9; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #8686a5; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 4px solid #f9f9f9; /* creates padding around scroll thumb */
  width: '10px';
}

/* makes img undraggable */
img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* remove underline */
a {
  text-decoration: none;
}
